<% include header %>
<title><%= title %>></title>
<link rel="stylesheet" href="/css/contact.css">
</head>
<body>
<header>
  <div class="header-top">
    <div class="container">
      <h1 class="logo"><a href="/">三扬装饰</a></h1>
      <ul class="header-icon">
        <li><a href="javascript: void(0)"><span></span></a></li>
        <li><a href="javascript: void(0)"><span></span></a></li>
        <li><a href="javascript: void(0)"><span></span></a></li>
      </ul>
    </div>
  </div>
  <nav>
    <ul class="container">
      <li><a class="" href="/">首页</a></li>
      <li><a href="/server">服务</a></li>
      <li><a href="/gallery">展示</a></li>
      <li><a class="active-h" href="/contact">联系</a></li>
      <li><a href="/about">关于</a></li>
    </ul>
  </nav>
</header>

<div class="contact">
  <div class="container">
    <div class="contact-main">
      <div class="contact-top">
        <h3>联系我们</h3>
        <p>三扬装饰发展至今，分支机构遍布全国各地，无论您身在何处，三扬装饰为您提供无差别的装饰服务。</p>
      </div>
      <div class="col-md-6 contact-left">
        <h3>Information</h3>
        <h4>三扬的优势</h4>
        <p>优秀的设计师在三扬：三扬装饰只需要优秀设计师，由于企业实力、企业文化吸引达州优秀设计师加入三扬。不管客户有任何设计需求，三扬装饰的设计师都能提供满意的设计方案。</p>
        <p>优质的工程施工在三扬：三扬装饰积累丰富的施工经验，无论是材料研发，工艺革新，都走在行业前沿，这也是三扬装饰区别于其它装饰公司的核心竞争力。</p>
        <p>贴心的装修服务在三扬：三扬以客户为根本，客户满意度是三扬永恒的话题。为此三扬装饰注重客户售前、售中、售后的每个细节的感受，让每个客户都能满意入住，让幸福生活从找三扬开始</p>
      </div>
      <div class="col-md-6 contact-right">
        <h3>Feedback</h3>
        <input type="text" placeholder="姓名" id="name">
        <input type="text" id="tel" placeholder="联系方式">
        <textarea id="message" placeholder="留言"></textarea>
        <input type="submit" value="留言" id="submit">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-icon">
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-phone-alt call-icon"></span>
          <div class="footer-text">
            <p>
              电话：
              <span class="foot"><%= doc.tel %></span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-envelope call-icon"></span>
          <div class="footer-text">
            <p>
              邮箱：
              <span class="foot"><%= doc.email %></span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-home call-icon" aria-hidden="true"></span>
          <div class="footer-text">
            <p>
              地址：
              <span class="foot"><%= doc.address %></span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="copyright">
          <p>Copyright © 2017.Company SanYang All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery-2.2.1.js"></script>
<script src="/js/contact.js"></script>
<% include footer %>
