<% include header %>
<title><%= title %>></title>
<link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
<header>
  <div class="header-top">
    <div class="container">
      <h1 class="logo"><a href="/">三扬装饰</a></h1>
      <ul class="header-icon">
        <li><a href="javascript: void(0)"><span></span></a></li>
        <li><a href="javascript: void(0)"><span></span></a></li>
        <li><a href="javascript: void(0)"><span></span></a></li>
      </ul>
    </div>
  </div>
  <nav>
    <ul class="container">
      <li><a class="" href="/">首页</a></li>
      <li><a href="/server">服务</a></li>
      <li><a class="active-h" href="/gallery">展示</a></li>
      <li><a href="/contact">联系</a></li>
      <li><a href="/about">关于</a></li>
    </ul>
  </nav>
</header>

<div class="gallery">
  <div class="container">
    <div class="gallery-main">
      <div class="gallery-top">
        <h3>项目展示</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas </p>
      </div>
      <div class="gallery-bottom">
        <div class="gallery-1">
          <div class="col-md-4 gallery-left">
            <a href="/img/g1.jpg">
              <img src="/img/g1.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 gallery-left">
            <a href="/img/g1.jpg">
              <img src="/img/g1.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 gallery-left">
            <a href="/img/g1.jpg">
              <img src="/img/g1.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="gallery-1">
        <div class="col-md-4 gallery-left">
          <a href="/img/g1.jpg">
            <img src="/img/g1.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="/img/g1.jpg">
            <img src="/img/g1.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="/img/g1.jpg">
            <img src="/img/g1.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-icon">
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-phone-alt call-icon"></span>
          <div class="footer-text">
            <p>
              电话：
              <span class="foot">+1258 884 625</span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-envelope call-icon"></span>
          <div class="footer-text">
            <p>
              邮箱：
              <span class="foot">+1258 884 625</span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 footer-grid">
          <span class="glyphicon glyphicon-home call-icon" aria-hidden="true"></span>
          <div class="footer-text">
            <p>
              地址：
              <span class="foot">+1258 884 625</span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="copyright">
          <p>Copyright © 2015.Company name All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery-2.2.1.js"></script>
<% include footer %>
