<% include header %>
<title><%= title%></title>
<link rel="stylesheet" href="/css/wangEditor.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/ad-editor.css">
</head>
<body>
<!--顶部导航开始-->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="/admin">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">首页 <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="/signout">退出登陆</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--顶部导航结束-->
<!--侧边栏开始-->
<div class="wrap">
  <div class="admin-sidebar sidebar">
    <div class="admin-offcanvar-bar">
      <ul class="am-list">
        <li>
          <a href="/admin">首页</a>
        </li>
        <li class="js-list">
          <a href="javascript:void(0)">文章管理</a>
          <ul class="admin-sidebar-sub" style="display:none;">
            <li>
              <a href="javascript:void (0)">新建文章</a>
            </li>
            <li>
              <a href="/adposts">管理中心</a>
            </li>
          </ul>
        </li>
        <li class="js-list">
          <a href="javascript:void (0)">服务管理</a>
          <ul class="admin-sidebar-sub" style="display: none;">
            <li>
              <a href="/newproject">管理</a>
            </li>
          </ul>
        </li>
        <li class="js-list">
          <a href="javascript:void(0)">咨询管理</a>
          <ul class="admin-sidebar-sub" style="display: none">
            <li>
              <a href="/leave/off">未操作</a>
            </li>
            <li>
              <a href="leave/ok">已操作</a>
            </li>
          </ul>
        </li>
        <li class="js-list">
          <a href="javascript:void(0)">团队相册</a>
          <ul class="admin-sidebar-sub" style="display: none;">
            <li>
              <a href="#">管理</a>
            </li>
          </ul>
        </li>
        <li class="js-list">
          <a href="#">其他</a>
          <ul class="admin-sidebar-sub" style="display: none">
            <li>
              <a href="#">还没有开发</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--侧边栏结束-->
  <!--后台主体-->
  <div class="admin-content">
    <div class="ad-content-body">
      <div class="body-header">
        <div class="bh-nav">
          <strong>文章</strong>/ <small>新建文章</small>
        </div>
      </div>
      <div class="editor-content" style="width: 90%;margin: 0 auto">
        <div class="title">
          <input type="text" id="title" placeholder="请输入标题">
          <select name="" id="select">
            <option value="普通">普通</option>
            <option value="首页">首页</option>
            <option value="案例">案例</option>
            <option value="公告">公告</option>
          </select>
          <button id="submit">发表</button>
        </div>
        <div class="upimg">
          <input type="file" id="file">
          <input type="submit" id="imgsubmit" value="上传展示图片">
        </div>
        <div id="editor" style="height: 500px; max-height: 650px">
          <p>请输入内容</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery-2.2.1.js"></script>
<script src="/js/wangEditor.js"></script>
<script src="/js/posts.js"></script>
<% include footer %>
